body{
    background: rgb(252,0,54);
    background: linear-gradient(90deg, rgba(252,0,54,1) 0%, rgba(165,10,228,1) 50%, rgba(0,212,255,1) 100%); 
    margin: auto 0;
}


.header{
    display: grid;
    grid-template-columns: 10% 80% 10%;
    grid-template-rows: 60% 40%;
    width: auto;
    height: 150px;
    background: linear-gradient(90deg, rgba(0,212,255,1) 0%, rgba(165,10,228,1) 50%,rgba(252,0,54,1) 100%);
    justify-content: center;
}

h1{
    margin: auto;  
    text-align: center;
    grid-column-start: 2;
    color: black;
    font-size: 5rem;
    font-family: sans-serif;
}
@media only screen and (max-width:1300px){
    h1{
        font-size: 3rem;
    }
}
@media only screen and (max-width:600px){
    h1{
        font-size: 2rem;
    }
}
h2{
    grid-column-start: 2;
    grid-row-start: 2;
    text-align: center;
    color: black;
    font-size: 1rem;
    font-family: sans-serif;
}

.content {
    display: grid;
    grid-template-columns: 10% 80% 10%;
    grid-template-rows: 50% 50%;
    margin-top: 6rem;
}

.birthdaycat-text{
    margin: auto; 
    margin-bottom: 25px; 
    text-align: center;
    grid-column-start: 2;
    color: black;
    font-size: 1rem;
    font-family: sans-serif;
}

.video {
    margin: auto;  
    grid-column-start: 2;
    grid-row-start: 2;
}